h1 {
  font-size: 30px 70px;
  color: red;
  font-family: "Fantasy";
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 40px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fantasy";
  font-size: 20px 50px;
  color: red;
  background: #0f172a;
}

.login-box {
  width: 500px;
  padding: 30px;
  background: #020617;
  border-radius: 12px;
  text-align: center;
  box-shadow: 
    0 0 5px #ef4444,
    0 0 15px  #ef4444,
    0 0 30px  #ef4444;
}

.login-box {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from{
    box-shadow: 
      0 0 5px #ef4444,
      0 0 15px #ef4444;
  }
  to {
    box-shadow: 
    0 0 15px #ef4444,
    0 0 40px #ef4444;
  }
}

button {
  background-color: red;
  color:black;
  padding: 10px 30px;
  font-family: "Fantasy";
  font-size: 20px;
  cursor: pointer;
  display: incline-block;
  box-shadow: 5px 10px #e324;
  margin-block: 20px;
}

button:active {
  box-shadow: 3px 5px #e324;
  transform: translateY(4px);
  
}

.login-form {
  margin-top: 20px;
}

.row {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center ;
  margin-bottom: 15px;
  margin-right: 200px;
  margin-left: 0px;
}

label {
 margin-right: 10px;
 text-align: right;
 color: red;
 margin-right: 30px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.checkbox {
  margin-right: 190px;
  margin-block: 30px;
  font-size: 15px;
}